<html>

<head>
    {% block nav %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('teoria') }}">Teoria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ejercicios') }}">Ejercicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('foro') }}">Foro</a>
        </li>
        {% if session.get("email", None) == None %}
        <li class="nav-item ms-auto">
            <a class="nav-link ms" href="{{ url_for('login') }}">Iniciar Sesión</a>
        </li>
        {% else %}
        <li class="nav-item ms-auto">
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ session['nombre'] }} {{ session['apellido'] }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{{ url_for('close_session') }}">Cerrar Sesión</a></li>
                </ul>
              </div>
        </li>
        {% endif %}
    </ul>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endblock %}
</head>

</html>