<html>

<head>
    {% block nav %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('teoria') }}">Teoria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ejercicios') }}">Ejercicios</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link disabled">Dudas</a>
        </li>
        <li class="nav-item ms-auto">
            <a class="nav-link ms" href="{{ url_for('login') }}">Iniciar Sesión</a>
        </li>
    </ul>
    {% endblock %}
</head>

</html>