<!doctype html>
<html lang="en">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>GeoAnal</title>
</head>

<body>
    {% extends "base.html" %}
    {% block nav %}
    {{ super() }}
    <div class="bg-image" style="
        background-image: url('/static/img/203483-math-equation-wallpaper.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;">

        

        <div class="container py-4">

            <div class="p-5 mb-4 bg-light rounded-3">
                <h1>Descarga de Teoria por Temas</h1>
                <a href="{{ url_for('pdfviewer') }}?id=1">Iniciación a la geometría analítica</a><br>
                <a href="{{ url_for('pdfviewer') }}?id=2">Vectores</a><br>
                <a href="{{ url_for('pdfviewer') }}?id=3">Operaciones con vectores</a><br>
                <a href="{{ url_for('pdfviewer') }}?id=4">Ecuaciones de la recta</a><br>
                <a href="{{ url_for('pdfviewer') }}?id=5">Problemas de Incidencia</a><br><br>

                <a class="position-absolute end-200" href="{{ url_for('pdfviewer') }}?id=6"><button class="btn btn-primary btn-lg"  type="button">Todo</button></a><br>
            </div>

            
            <div class="p-5 mb-4 bg-light rounded-3">
                <h1>Teoria por temas</h1> <br>
                <h2>Iniciación a la geometría analítica</h2>
                Se conoce como plano cartesiano, coordenadas cartesianas o sistema cartesiano, a dos rectas numéricas perpendiculares, una horizontal (Abscisa, “x”) y otra vertical (Ordenada, “y”), que se cortan en un punto llamado origen o punto cero.<br>
                <br>
                Se llaman cuadrantes a las cuatro áreas que se forman por la unión de las dos rectas perpendiculares. Los puntos del plano se describen dentro de estos cuadrantes.<br><br>
                <li>Cuadrante I:    La abscisa y la ordenada son positivas.</li>
                <li>Cuadrante II:   La abscisa es negativa y la ordenada positiva.</li>
                <li>Cuadrante III:  La abscisa y la ordenada son negativas.</li>
                <li>Cuadrante IV:   La abscisa es positiva y la ordenada negativa.</li>
                <img src="/static/img/cuadrantes.png" alt="cuadrantes"><br><br>
            
                <h2>Vectores</h2>
                En matemáticas se define vector como un elemento de un espacio vectorial. Un vector se representa mediante un segmento de recta, orientado dentro del espacio euclidiano. 
                <br>Se caracteriza por:
                <li>El módulo  es la longitud del segmento. </li>
                <li>La dirección, la de la recta en que se apoya. </li>
                <li>El sentido, el que va del origen al extremo</li><br>
                <img src="/static/img/vectores.png" alt="vectores"><br>

                Podemos expresar el vector mediante sus componentes, que se obtienen restando las coordenadas del destino menos las del origen, 
                siendo estos dos puntos dentro del espacio euclídeo en el que estamos trabajando (actualmente es \({R^{2}}\)):  
                \({\overline{AB}=\left((b_1-a_1)^2,(b_2-a_2)^2 \right) }\).<br><br>

                El módulo de un vector se puede calcular mediante la fórmula:
                \(|{\overline{AB}|= \sqrt{(b_1-a_1)^2+(b_2-a_2)^2}}\)<br><br>
                Dos vectores fijos se dicen equivalentes si tienen el mismo módulo, dirección y sentido. 
                El conjunto de vectores equipolentes se denomina vector libre, y cualquiera de ellos sirve para representarlo. Lo indicaremos mediante  \(\overline{v}\).<br><br>
                
                <h2>Operaciones con vectores</h2>
                La suma de vectores libres tiene las propiedades Conmutativa, Asociativa, Elemento Neutro, Y Elemento Opuesto. <br>Se calcula mediante:\( \overline{u}+\overline{v}=u_1+v_1,u_2+v_2 \)
                <br> <br>Se puede multiplicar y dividir un vector por un número natural, multiplicando o dividiendo cada  elemento del vector por la constante. 
                
                Un vector \(\overline{w}\) es combinación lineal de otros dos \(\overline{u}\)  y \(\overline{v}\), si existen dos números reales, t y s, tales que: \( \overline{w}=t · \overline{v} + s · \overline{v}\). 
                Si la base \(\overline{u}\)  y \(\overline{v}\) son independientes cualquier otro vector se puede poner como combinación lineal de ellos.
                <br> <br>
                La base más utilizada es la formada por los vectores \(\overline{u}=(0,1)\) y \(\overline{v}=(1,0)\). Se denomina base canónica.
                <br> <br>
                El punto medio de un segmento son las coordenadas del punto que está a la misma distancia de los componentes del segmento que lo componen. Se calcula mediante la formula:
                \( M= \left( {u_1+v_1\over2} ,{u_2+v_2\over 2}  \right)\)
                <br> <br>

                El producto escalar de dos vectores, es una operación entre dos vectores libres cuyo resultado es un número.<br>Se puede calcular de 2 formas:
                <br>
                \( \overline{u} · \overline{v} = u_1·v_1+u_2·v_2\)  <br>
                \( \overline{u} · \overline{v} = v·cos(\overline{u} , \overline{v})\)
                <br> <br>
                
                Los vectores  \(\overline{i}=(0,1)\) y \(\overline{j}=(1,0)\)  tienen módulo 1 y son perpendiculares, por tanto se cumple:<br>
                \(\overline{i} · \overline{i}= |\overline{i}|·|\overline{i}|·cos(0º)  = 1·1·1=1 \)<br>
                \(\overline{i} · \overline{j}= |\overline{i}|·|\overline{j}|·cos(90º) = 1·1·0=0 \)<br>
                \(\overline{j} · \overline{j}= |\overline{j}|·|\overline{j}|·cos(0º)  = 1·1·1=1 \)<br><br>
                   
                Si el producto escalar es igual a 0 se dice que dice que son ortogonales, es decir, son perpendiculares.

                El ángulo entre dos vectores se calcula mediante
                \( cos(\overline{i},\overline{j} )= {\overline{i}·\overline{j}\over|\overline{i}|·|\overline{j}|} \)
                <img src="/static/img/angulo.png" alt="angulo"><br><br>
            
                <h2>Ecuaciones de la recta</h2>
                Ecuación vectorial<br>
                \( (x,y) = (x_1,y_1)+t·(v_x,v_y)\)
                <br><br>
                Ecuaciones paramétricas<br>
                \( x = x_1+t·v_x\)<br>
                \( y = y_1+t·v_y\)<br><br>

                Ecuación Continua<br>
                \( {x-x_1\over v_x }={ y-y_1 \over v_y}\)<br><br>

                Ecuación General<br>
                Ax+By+C=0
                \( A_x+B_y+C=0\)<br><br>

                Ecuación Explícita<br>
                \( Y= mx +n\)<br><br>

                Ecuación de la circunferencia<br>
                \( (x-a)^2+(y-b)^2=r^2 \)<br><br>

                <img src="/static/img/recta.png" alt="recta"><br><br>

            
                <h2>Problemas de Incidencia</h2>

                <dl>
                    <dt>Secantes:</dt>
                    <dd>Tienen un único punto en común. Tienen distinta dirección y distinta pendiente.</dd>
                    <dd>\({A \over A'} \ne {B \over B'}\)</dd>
                    
                    <dt>Paralelas:</dt>
                    <dd>Tienen ningún punto en común. Tienen la misma dirección y la misma pendiente pero diferente ordenada en el origen.</dd>
                    <dd>\({A \over A'} = {B \over B'} \ne {C \over C'}\)</dd>

                    <dt>Coincidentes:</dt>
                    <dd>Tienen todos sus puntos comunes. Tienen la misma pendiente y la misma ordenada en el origen.</dd>
                    <dd>\({A \over A'} = {B \over B'} = {C \over C'}\)</dd>
                </dl>
                <b>Recta paralela a otra por un punto</b> <br>
                Dos Rectas son paralelas si tienen la misma dirección y por tanto la misma pendiente<br><br>
                Para escribir la ecuación de una recta paralela a otra por un punto P, bastará tomar este punto y el vector direccional, o la pendiente según convenga, de esta otra.
                <br><br>
                <b>Recta perpendicular a otra por un punto</b><br>
                Dos rectas son perpendiculares si lo son sus vectores direccionales y por tanto su producto escalar es 0.
                Si \( \overline{v} =(v_x,v_y) \) es el vector direccional de una recta, el de una perpendicular es \( \overline{v} =(v_y,-v_x) \)
                En cuanto a las pendientes, si m es la pendiente de una recta y \( m' \) la de una perpendicular: 
                \( m= {v_y \over v_x} \Rightarrow m'= {-v_x \over v_y} = {-1 \over m}\)

            </div>
            
            
            <div class="p-5 mb-4 bg-light rounded-3">
                <h1>Geometria analitica</h1>
                <h2>La recta de Euler</h2>
                Para entender la recta de Euler primero tenemos que saber lo que es el ortocentro, el baricentro y el
                cincuncentro. <br>
                <h6>Ortocentro:</h6> Punto de corte de las 3 alturas del triangulo.<br>
                <img src="/static/img/ort.gif" alt="Ortocentro"><br><br>
                <h6>Baricentro:</h6> Punto de corte de las 3 medianas<br>
                <img src="/static/img/bar.gif" alt="Baricentro"><br><br>
                <h6>Circuncentro:</h6> punto de corte de las tres mediatrices. Centro de una circunferencia circunscrita
                al triangulo.<br>
                <img src="/static/img/circ.gif" alt="Circuncentro"><br><br>
                
            </div>
        </div>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    </div>
    {% endblock %}

</body>

</html>